@import url('https://fonts.googleapis.com/css?family=Roboto');

/*  login */
.login {
	font-family: 'Roboto', sans-serif;
	background-image: url(../imagenes/fondo.jpg);
	background-size: cover;
}
.container-login {
	margin: 0 auto;
	margin-top: 200px;
	margin-left: 100px;
	padding: 0;
}
.login .modal-content {
	background-color: #343a40;
	opacity: .95;
	padding: 0 28px;
	box-shadow: 0 0 3px #848484
}

.imagen-usuario {
	margin-top: -50px;
	margin-bottom: 35px;
}

.imagen-usuario img {
	width: 100px;
	height: 100px;
}
.login .form-group {
	margin-bottom: 25px;
}

.login .form-group input {
	height: 42px;
	border-radius: 5px;
	border: 0;
	font-size: 18px;
}
.white-text {
	font-size: 19px;
	margin-right: 5px;
}

.boton-login {
	margin: 5px 0 25px;
}

.login .input-group-text {
	background-color: #17a2b8;
	border-color: #17a2b8;
	color: white;
}

/* layout */
.ui-layout-pane-north .ui-layout-unit-content {
	background: #e91e63;
}

/*  */
.pie {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

.container-fluid {
	font-size: 14px;
}

.ui-dialog {
	font-size: 14px;
}

.vertical-derecho {
	margin: 0;
	height: 500px;
	overflow: auto;
}

.vertical-izquierdo {
	margin: 0;
	height: 300px;
	overflow: auto;
}

.total {
	color: #e91e63;
	font-size: 28px;
}

.precio {
	color: #e91e63;
	text-align: center;
}

.no-gutter [class^="col"] {
	padding: 0;
}

.ui-datatable * {
	border: 0px !important;
	text-align: center;
}


.ui-datagrid * {
	border: 0px !important;
}

.lista {
	background: #00b8d4;
}

td {
	background: #2E2E2E;
	color: #e91e63;
}

.ui-panelgrid * {
	border: 0px !important;
}
